/* Colors */
:root{
    --Darkblue: #1F5673;
    --Lightblue: #759FBC;
    --Orange: #E17638;
    --Black: #000;
}

/* Same style for this page */
h3{
    font-size: 2.5rem;
    color: var(--Darkblue);
}
#products, #about, #contact{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* HEADER */
header{
    padding: 1rem  0;
    background-color: var(--Darkblue);
}
.logo h1{
    font-family: 'Comfortaa', sans-serif;
    font-size: 2.85rem;
    color: #fff;
}
ul li{
    display: inline-block;
    margin-left: 3.5rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    font-size: 1.25rem;
    padding: 2px 7px;
    transition: all 0.7s;
}
ul li a:hover{
    border-color: var(--Orange);
    color: var(--Orange);
    transition: all 0.3s;
}
ul li .special{
    color: var(--Orange);
    padding: 6px 10px;
    border: 0;
    border-radius: 3px;
    box-shadow: -2px -2px 5px #7093A5, 2px 2px 7px #14374A;
}
ul li .special:hover{
    border: 0;
    color: #fff;
    border-color: none;
    box-shadow: inset -2px -2px 4px #7093A5, inset 3px 3px 7px #14374A;
ul li .login{
    color: var(--Orange);
}

/* BANNER SECTION */
#banner{
    background-image: url('https://nimbuswatersystems.com/sites/default/files/front-banner/banner_image_0_0.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    display: flex;
    align-items: center;
}
.text-content{
    color: var(--Orange);
}
.text-content h1{
    font-size: 3.85rem;
}
.text-content p {
    font-size: 1.35rem;
    margin-bottom: 1.25rem;
}
.banner-btn{
    text-decoration: none;
}
.banner-btn{
    margin-top: 1.25rem;
    padding: 10px 30px;
    background-color: var(--Orange);
    color: #fff;
    font-size: 1rem;
    outline: 0;
    border: 0;
    transition: all 0.7s;
}
.banner-btn:hover{
    cursor: pointer;
    background-color: var(--Darkblue);
    box-shadow: 5px 5px 7px rgb(82, 109, 124);
    transition: all 0.3s;
}

/* ABOUT */
#about .content-box{
    margin-top: 2rem;
}
.company-image{
    width: 45%;
}
.about-text{
    width: 50%;
}

/* MAIN BODY */
#products .cards{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
#products .cards .card{
    width: 55%;
}
#products .cards .card .product-btn{
    background-color: var(--Orange);
    border: 0;
    outline: 0;
    color: #fff;
    padding: 3px 15px;
    font-size: 0.75rem;
    margin-top: 1rem;
    border-radius: 10px;
    transition: all 0.7s;
}
#products .cards .card .product-btn:hover{
    cursor: pointer;
    background-color: var(--Darkblue);
    box-shadow: 3px 3px 5px rgb(82, 109, 124);
    transition: all 0.3s;
}

/* CONTACT */
.contact-content{
    margin-top: 2rem;
}
.form{
    width: 52%;
}
.map{
    width: 45%;
}
form>*{
    margin-bottom: 12px;
}
form input{
    height: 1.5rem;
    font-size: 0.85rem;
    padding-left: 5px;
    color: #1F5673;
}
form textarea{
    height: 4.5rem;
    font-size: 0.85rem;
    padding-left: 5px;
    color: #1F5673;
}
form input,
form textarea{
    border: 1px solid #1F5673;
    outline: 0;
    transition: all 0.7s;
}
form input:hover,
form textarea:hover{
    border-color: #759FBC;
    transition: all, 0.3s;
}
form input::placeholder,
form textarea::placeholder{
    color: #1F5673;
}
.form-btn{
    color: #fff;
    background-color: #1F5673;
    border: 1px solid #1F5673;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 1rem;
    width: 30%;
    transition: all 0.7s;
}
.form-btn:hover{
    background-color: transparent;
    color: #1F5673;
    cursor: pointer;
    transition: all 0.3s;
}

/* FOOTER */
footer{
    background-color: var(--Darkblue);
    padding: 2.25rem 0;
}
.footer-nav ul li{
    display: block;
    margin-bottom: 12px;
}
.company-info>*{
    margin-bottom: 12px;
    color: #fff;
    font-size: 1.1rem;
}