<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drippes | Water For You</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="current-user">
                <p></p> <!-- Username goes here  -->
                <p></p> <!-- Address goes here  -->
            </div>
            <div class="logo">
                <h1>Drippes</h1>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a href="#">Back</a>
                    </li>
                    <li>
                        <a href="#">Go to the Store</a>
                    </li>
                </ul>
            </div>

        </div>
    </header>

</body>
</html>
