<p>admin works!</p>
<div class="currentUser">
  <table style="border:1px solid #0094ff;">
    <thead>
      <tr style="border:1px solid #0094ff;">
        <td style="border:1px solid #0094ff;">Current Login User:</td>
        <td style="border:1px solid #0094ff;">User Status</td>
      </tr>
    </thead>
    <tbody>
      <tr style="border:1px solid #0094ff;">
        <td style="border:1px solid #0094ff;">{{cur_user.first_name}} {{cur_user.last_name}}</td>
        <td style="border:1px solid #0094ff;">{{cur_user.authority}}</td>
      </tr>
    </tbody>
  </table>
</div>

<a [routerLink]="['/drippes']">Go to the Store</a>

<hr />

<h3>Display Employee's Attendance This Week:</h3>
<table style="border:1px solid #0094ff;">
  <thead>
    <tr style="border:1px solid #0094ff;">
      <td style="border:1px solid #0094ff;">Total Employees:</td>
      <td style="border:1px solid #0094ff;">{{total_employees_count}}</td>
    </tr>
  </thead>
</table>
<table style="border:1px solid #0094ff;">
  <thead>
    <tr style="border:1px solid #0094ff;">
      <td style="border:1px solid #0094ff;">Employee Name</td>
      <td style="border:1px solid #0094ff;">Employee Rate&Reviews</td>
      <td style="border:1px solid #0094ff;">Employee Buckets Count (This Week)</td>
      <td style="border:1px solid #0094ff;">Employee Earnings Total(This Week)</td>
      <td style="border:1px solid #0094ff;">Change Conversion Rate</td>
    </tr>
  </thead>
  <tbody>
    <tr style="border:1px solid #0094ff;" *ngFor="let employee of employees">
      <td style="border:1px solid #0094ff;">{{employee.first_name}} {{employee.last_name}}</td>
      <td style="border:1px solid hsl(205, 100%, 50%);">{{employee.avg_rate}}
        <button [routerLink]="['/admin', employee._id, 'reviews']">
          View All Reviews</button></td>
      <td style="border:1px solid hsl(205, 100%, 50%);">{{employee.week_count}}</td>
      <td style="border:1px solid #0094ff;">
        ${{employee.week_count_money}}*{{employee.convert_rate}}*0.05=${{employee.week_count_money*employee.convert_rate*0.05}}
      </td>
      <td style="border:1px solid #0094ff;">
        <form (submit)="change_convertRate(employee._id, employee.convert_rate)">
          <input type="number" name="convert_rate" [(ngModel)]="employee.convert_rate" />*0.05
          <input type="submit" value="Change Rate" />
          <p *ngIf="errors">errors happened:{{errors}}</p>
        </form>
      </td>
    </tr>
  </tbody>
</table>
